html{
    width: 100%;
    height: 1000px;
    min-width: 1450px;
}

body{
    margin: 0px;
    height: 1000px;
    width: 100%;
    min-width: 1450px;
}

.bodysheet{
    margin: 0;
    width: 100%;
    height: 1000px;
    background-image: url(image/tourism.jpg);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    min-width: 1450px;
}


h1{
    background-color: lightgreen;
    color: white;
    text-align: center;
    margin: 0;

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: bisque;
    margin: 0px;
    border-top: 1px solid white;
}

li{
    list-style: none;
    border-left: 1px solid gray;
    padding: 5px;
}

.an{
    text-decoration: none;
    color: gray;
}

#pintro{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    color:gray;
}

.div1{
    width: 80%;
    height: 180px;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.innerdiv1{
    width: 25%;
    margin: 0;
}

.innerdiv2{
    width: 75%;
    margin: 0;
    text-align: left;
    line-height: 30px;
}

.simg{
    height: 180px;
    width: 100%;
}

.ain{
    text-decoration: none;
    color:black;
}

.div2{
    width: 80%;
    height: 180px;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid white;
}

.innerdiv3{
    width: 75%;
    margin: 0;
    text-align: left;
    line-height: 30px;
}

.div3{
    width: 80%;
    height: 180px;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid white;
    border-bottom: 1px solid black;
}

a:hover{
    color: purple;
}
