@-webkit-keyframes mov1{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-800px);
    }
    45%{
        transform: translateX(-800px);
    }
    50%{
        transform: translateX(-1600px);
    }
    70%{
        transform: translateX(-1600px);
    }
    75%{
        transform: translateX(-2400px);
    }
    95%{
        transform: translateX(-2400px);
    }
    100%{
        transform: translateX(-3200px);
    }
}
@-webkit-keyframes mov2{
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-40px);
    }
    45%{
        transform:translateY(-40px);
    }
    50%{
        transform: translateY(-80px);
    }
    70%{
        transform: translateY(-80px);
    }
    75%{
        transform: translateY(-120px);
    }
    95%{
        transform: translateY(-120px);
    }
    100%{
        transform: translateY(-160px);
    }
}
@-webkit-keyframes span1{
    0%{
        background: white;
    }
    24%{
        background: white;
    }
    25%{
        background: gray;
    }
    100%{
        background: gray;
    }
}
@-webkit-keyframes span2{
    0%{
        background:gray;
    }
    24%{
        background: gray;
    }
    25%{
        background: white;
    }
    49%{
        background: white;
    }
    50%{
        background: gray;
    }
    100%{
        background: gray;
    }
}
@-webkit-keyframes span3{
    0%{
      background: gray;
    }
    24%{
      background: gray;
    }
    25%{
      background: gray;
    }
    49%{
      background: gray;
    }
    50%{
      background: white;
    }
    74%{
      background: white;
    }
    75%{
      background: gray;
    }
    100%{
      background: gray;
    }
  }
@-webkit-keyframes span4{
    0%{
      background: gray;
    }
    24%{
      background: gray;
    }
    25%{
      background: gray;
    }
    49%{
      background: gray;
    }
    50%{
      background: gray;
    }
    74%{
      background: gray;
    }
    75%{
      background: white;
    }
    99%{
      background: white;
    }
    100%{
      background: gray;
    }
  }

    body,span,p{
        padding:0;
        margin:0;
    }
    .wrap{
        width: 800px;
        margin:200px auto;
    }
    .box{
        position: relative;
        overflow:hidden;
    }
    img{
        width: 20%;
        float: left;
    }
    .scroll:after{
        content: "";
        display: block;
        clear: both;
      }
    .mask{
        position: absolute;
        left:0;
        bottom: 0;
        z-index: 10;
        background: rgba(0,0,0,0.6);
        width: 100%;
        height: 40px;

    }
    .text{
        width: 100%;
        height: 40px;
        position: absolute;
        left:0;
        bottom:0;
        z-index: 20;
        line-height: 40px;
        overflow:hidden;
        color:black;
        text-align: center;
    }
    .text p{
          animation: mov2 10s linear  infinite;

    }
    .scroll{
        width: 4000px;
        animation: mov1 10s linear infinite;
    }
    .btn{
        margin:10px;
        text-align: center;
    }
    span{
        width: 7px;
        height: 7px;
        background: gray;
        border:1px solid gray;
        border-radius: 100%;
        display: inline-block;
        margin:0 10px;
        
    }
  .btn span:nth-child(1){
    animation: span1 10s linear infinite;
  }
  .btn span:nth-child(2){
    animation: span2 10s linear infinite;
  }
  .btn span:nth-child(3){
    animation: span3 10s linear infinite;
  }
  .btn span:nth-child(4){
    animation: span4 10s linear infinite;
  }

  .wrap:hover .scroll{
        animation-play-state: paused;
  }
  .wrap:hover p{
        animation-play-state: paused;
  }
  .wrap:hover span{
        animation-play-state: paused;
  }